.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #0446a8; /*color primario*/
  padding: 15px;
  z-index: 1000;
}
.input {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4;
  border: none;
  width: 200px;
  background-color: #fff;
  color: #000000;
}
.navbarTitleContainer {
  flex: 1;
  display: flex;
  color: #fff;
  margin-left: 305px;
}
.navbarTitle {
  font-size: 24px;
  font-weight: bold;
}
.profile {
  margin-left: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.signup {
  margin-left: 24px;
  color: #fff;
  text-decoration: none;
  margin-right: 340px;
  font-weight: bold;
}
