.active {
  border-bottom: 2px solid rgb(45, 45, 231);
}
.tab {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  color: black;
}
.tab:hover {
  opacity: 0.8;
}
.tabsContainer {
  margin: 12px 0;
}
.homeLink {
  color: rgb(45, 45, 231);
  text-decoration: none;
}
