.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.label {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  justify-content: center;
  align-items: center;
}
.input {
  font-size: 17px;
  width: 280px;
  padding: 4px;
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
  color: black;
}
.submitButton {
  width: 292px;
  margin-top: 20px;
  background-color: rgb(45, 45, 231);
}
.homeLink {
  color: #000000;
  text-decoration: none;
}
